* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2922;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

/* Navbar */

.navbar {
  margin: 35px 60px;
  text-align: end;
}

.navbar div {
  display: inline-block;
}

.nav-logo {
  position: absolute;
  left: 60px;
  top: 35px;
}

.logo {
  height: 40px;
}

.list {
  margin: 0 20px;
}

.list .list-item {
  display: inline-block;
  color: #9b9991;
  margin: 0 20px;
}

.highlight {
  color: #ffffff !important;
}

.button-small {
  background-color: transparent;
  color: #a08f36;
  padding: 10px 25px;
  font-size: 18px;
  border: 1px solid #a08f36;
  border-radius: 8px;
  margin: 2px 10px;
}

/* Heading Section */

.heading-section {
  margin: 60px 20px;
}

.heading-section div {
  display: inline-block;
}

.heading {
  width: 40%;
  font-size: 40px;
  position: relative;
  top: 10px;
  left: 20px;
}

.heading h1 {
  text-align: center;
}

.description {
  width: 30%;
  position: relative;
  left: 200px;
  bottom: 50px;
}

.description p {
  text-align: center;
  color: #b8b7b3;
}

/* Image Section */

.img-section {
  height: 365px;
  background-image: url('../assets/cover.png');
  background-position: center;
  background-size: cover;
}

/* Footer */

footer {
  text-align: center;
}

footer div {
  display: inline-block;
}

#box-1 {
  height: 70px;
  width: 70px;
  background-color: #39372d;
  position: absolute;
  bottom: 0;
  right: 70px;
}
#box-2 {
  height: 70px;
  width: 70px;
  background-color: #a08f36;
  position: absolute;
  bottom: 0;
  right: 0px;
}

#box-1 i {
  margin-top: 18px;
  font-size: 35px;
}
#box-2 i {
  margin-top: 18px;
  font-size: 35px;
}
